  <!-- Footer Section-->
  <nav class="navbar fixed-bottom navbar-dark bg-dark">  
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Copyright &copy; COMP229 Fall2021 &bull; Geejay Damasco &bull;</a>
    </div>  
  </nav>
  <!-- Footer Section-->