
  <!-- Main Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- My Image Logo-->
      <a class="navbar-brand" href="/"><img src="/assets/images/02Logo.png" alt="02Logo" width=120>&nbsp; COMP229 - Web Application</a> 

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/home"><i class="fas fa-laptop-house"></i> Home </a>   <!-- Home link page -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About Me </a>  <!-- About Me link page -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects"><i class="fas fa-box-open"></i> My Projects </a>   <!-- Projects link page -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services"><i class="fas fa-cogs"></i> Services Page </a>   <!-- Services link page -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="far fa-address-book"></i> Contact </a>  <!-- Contact link page -->
          </li>
        </ul>
      </div>
    </div>
  </nav>