  <div class="container"> 
    
     <h1><%= title %></h1>
   <br>
   <!-- images for my picture--> 
   <div class="card" style="width: 10rem;">
      <img src="/assets/images/01Pic.jpg" class="card-img-top" alt="01Pic" width="200">
    </div>
    <!-- about me description and resume link--> 
    <div class="card-body">
      <p class="card-text">Name: Geejay Damasco &nbsp; &nbsp;
         <a href="https://drive.google.com/file/d/1Omu2J42K8_1YZoWqQX7DMm40X_5UVe9W/view?usp=sharing" download rel="noopener noreferrer" target="_blank">
            my Resume
         </a></p> 
      <p>I'm a student in the Software Engineering Technician program at Centennial College. 
         Previously, I studied at Rizal Technological University in Mandaluyong City, Philippines and graduated in BS Computer Engineering course.
         As a backend developer and QA, I am challenged and excited to learn more about web programming applications. </p>
    </div>
  </div>
     