  <div class="container"> 
    
     <h1><%= title %></h1>
     <br>

     <h2> Mission Statement </h2>
     <h3><p> To enhance my knowledge thru formal education on Object Oriented programming being widely used in the Industry .  
        This is to update my skill and be able to be competitive. </p></h3>
  </div>