  <div class="container"> 
    
     <h1><%= title %></h1>
      <br>
   <!-- images for my projects and description--> 
   <div class="card" style="width: 40rem;">
      <img src="/assets/images/02proj.jpg" class="card-img-top" alt="02proj" width="400">
    </div>
    <div class="card-body">
      <p class="card-text">One of my Javascript assignment from client side web development course. <br>
         It shows how the Document Object Model (DOM) represents the page so that programs can change the structure, style and content. </p>   
    </div>
    <br>
    <div class="card" style="width: 40rem;">
      <img src="/assets/images/01proj.jpg" class="card-img-top" alt="01proj" width="400">
    </div>
    <div class="card-body">
      <p class="card-text">Final project from my web interface design course. <br>
         This is to show how the css and html5 work together so that style can be added to the website. <br>
         CSS is linked to html browser adding personal style to the body of the website.</p>   
    </div>
    <br>
    <div class="card" style="width: 40rem;">
      <img src="/assets/images/03proj.jpg" class="card-img-top" alt="03proj" width="400">
    </div>
    <div class="card-body">
      <p class="card-text">My first homepage that I did when I started my web interface design course. <br>
         I used html5 alone and textpad as an editor. There was no css yet attached to the website. <br>
         Body styles were coded inside the header section.</p> 
    </div>
  </div>