  <div class="container"> 
    
     <h1><%= title %></h1>

    <br>
    <div>
        <div>
            <img src="/assets/images/html.jpg" alt="html" width="150"><i class="fab fa-html5"></i> HTML &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/assets/images/js.png" alt="js" width="100">&nbsp;&nbsp;<i class="fab fa-js-square"></i> JavaScript
        </div>  
        <div>            
            <img src="/assets/images/css.png" alt="css" width="150"><i class="fab fa-css3-alt"></i> CSS &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/assets/images/node.png" alt="node" width="150">&nbsp;&nbsp;<i class="fab fa-node-js"></i> Node JS 
        </div>             
    </div>
  </div>