
   <!-- Partials for header section -->
   <%- include('./components/header.ejs'); %>

<body>   

  <!-- Body content -->
  <%- include('./contents/' + page + '.ejs'); %>

 
 <!-- Partials for footer section -->
   <%- include('./components/footer.ejs'); %>

  <!-- Script Section -->
  <%- include('./components/script.ejs'); %>

</body>
</html>

<!-- Student: Geejay Damasco | SN: 301163720 -->
<!-- Assignment 01 - Express Portfolio Site -->
<!-- October 03, 2021 - Fall2021 -->
